# Node modules
node_modules/

# Token và file auth
auth.json
*.log

# Hệ điều hành
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Environment
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
dist/
build/
